.cdetail-div{
	margin-left: 10%;
	font-size: 1.2em;
	color: sandybrown;
}
.cdetail-jine{
	margin-left: 80%;
	margin-top: -18%;
	font-size: 1.2em;
	color: sandybrown;
}
.cdetail-p{
	margin-left: 10%;
	font-size:1em;
	margin-top:-4%;
	color: sandybrown;
}