.painterrzjt{
	margin-left: 25%;
	margin-top: 5%;
}
.painterrzwz{
	margin-left: 35%;
	color: sandybrown;
	font-size: 18px;
	margin-top: -3%;
}
.gezi{
	border: 1px solid white;
	height: auto;
	width: auto;
	margin-bottom: 4%;
}
