.zjmxjt{
	margin-top:2%;
	margin-left: 25%;
}
.zjmxwz{
	align-content: center;
	margin-left: 35%;
	color: sandybrown;
	font-size: 18px;
	margin-top: -2%;
}
.zjmxgezi{
	border: 1px solid white;
	height: auto;
	width: auto;
	margin-bottom: 4%;
}
.zjmxlb{
	border: 1px solid black;
	height: 10%;
	width: auto;
}
.zjmxmodifyemail{
	margin-left: 75%;
	margin-top: -6%;
	opacity: 0.5;
	font-size: 1em;
}
.zjmxmodifyemail-neirong{
	height: 40%;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 2%;
}